.dropdown-list {
    display: flex;
  }
  
  .dropdown {
    /* position: absolute; */
    display: inline-block;
    margin-right: 16px;
    /* top: 50px
    ; */
    margin-top: 50px;
  }
  
  .dropdown-button {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-submenu-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    min-width: 160px;
    padding: 12px 16px;
  }
  
  .dropdown-submenu:hover .dropdown-submenu-content {
    display: block;
  }
  